﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Audi.aspx.cs" Inherits="aracsatis.Audi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style2 {
            width: 257px;
            text-align: right;
        }
        .auto-style3 {
            height: 43px;
            }
        .auto-style36 {
            border-width: 0px;
            width: 140px;
            height: 96px;
            text-align: right;
        }
        .auto-style39 {
            text-align: center;
            height: 82px;
        }
        .auto-style43 {
            height: 34px;
            width: 259px;
        }
        .auto-style44 {
            width: 257px;
            height: 34px;
        }
        .auto-style46 {
            width: 259px;
            height: 399px;
        }
        .auto-style47 {
            width: 257px;
            height: 399px;
        }
        .auto-style49 {
            width: 257px;
            height: 181px;
        }
        .auto-style52 {
            width: 257px;
        }
        .auto-style53 {
            width: 1047px;
            height: 516px;
        }
        </style>
</head>
<body < style="background-color:gray;">
    <form id="form1" runat="server">
        <table class="auto-style53">
            <tr>
                <td class="auto-style39" colspan="4">
                                <a href="opel.aspx">
                                <img alt="" class="auto-style36" src="Resim/opel_logo.jpg" /></a><a href="Audi.aspx"><img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a><a href="Ford.aspx"><img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a><a href="Volswagen.aspx"><img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a><a href="Tofas.aspx"><img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a><a href="Bmw.aspx"><img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a><a href="mercedes.aspx"><img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
            </tr>
            <tr>
                <td>
                    <img alt="" class="auto-style49" src="Resim/audi1.jpg" /></td>
                <td class="auto-style2">
                    <img alt="" class="auto-style49" src="Resim/audi2.jpg" /></td>
                <td class="auto-style52">
                    <img alt="" class="auto-style49" src="Resim/audi6.jpg" /></td>
                <td class="auto-style52">
                    <img alt="" class="auto-style49" src="Resim/audi5.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style43">
                    &nbsp;</td>
                <td class="auto-style44">
                    &nbsp;</td>
                <td class="auto-style44">
                    &nbsp;</td>
                <td class="auto-style44"></td>
            </tr>
            <tr>
                <td class="auto-style46"></td>
                <td class="auto-style47"></td>
                <td class="auto-style47"></td>
                <td class="auto-style47"></td>
            </tr>
            <tr>
                <td class="auto-style3" colspan="4">&nbsp;</td>
            </tr>
        </table>
    </form>
</body>
</html>
