﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Bmw.aspx.cs" Inherits="aracsatis.Bmw" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 1032px;
        }
        .auto-style2 {
            width: 941px;
        }
        .auto-style3 {
            width: 884px;
        }
        .auto-style36 {
            border-width: 0px;
            width: 140px;
            height: 96px;
        }
        .auto-style37 {
            text-align: center;
            height: 83px;
        }
        .auto-style38 {
            width: 884px;
            height: 55px;
        }
        .auto-style39 {
            width: 941px;
            height: 55px;
            text-align: center;
        }
        .auto-style40 {
            width: 1032px;
            height: 55px;
        }
        .auto-style44 {
            width: 884px;
            height: 139px;
        }
        .auto-style45 {
            width: 941px;
            height: 139px;
        }
        .auto-style46 {
            width: 1032px;
            height: 139px;
        }
        .auto-style47 {
            width: 884px;
            height: 276px;
        }
        .auto-style48 {
            width: 941px;
            height: 276px;
        }
        .auto-style49 {
            width: 1032px;
            height: 276px;
        }
    </style>
</head>
<body < style="background-color:gray;">
    <form id="form1" runat="server">
   
        <table style="width: 1439px; height: 466px">
            <tr>
                <td class="auto-style37" colspan="3">
                                <a href="opel.aspx">
                                <img alt="" class="auto-style36" src="Resim/opel_logo.jpg" /></a><a href="Audi.aspx"><img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a><a href="Ford.aspx"><img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a><a href="Volswagen.aspx"><img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a><a href="Tofas.aspx"><img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a><a href="Bmw.aspx"><img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a><a href="mercedes.aspx"><img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
            </tr>
            <tr>
                <td class="auto-style3">&nbsp;</td>
                <td class="auto-style2">&nbsp;</td>
                <td class="auto-style1">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style44"></td>
                <td class="auto-style45"></td>
                <td class="auto-style46"></td>
            </tr>
            <tr>
                <td class="auto-style47"></td>
                <td class="auto-style48"></td>
                <td class="auto-style49"></td>
            </tr>
            <tr>
                <td class="auto-style38"></td>
                <td class="auto-style39">
                    <asp:Button ID="Button1" runat="server" Text="ANA SAYFA" Width="110px" />
                    <asp:Button ID="Button2" runat="server" Text="GALERİ" Width="110px" />
                    <asp:Button ID="Button3" runat="server" Text="İLETİŞİM" Width="110px" />
                    <asp:Button ID="Button4" runat="server" Text="HAKKIMIZDA" Width="110px" />
                </td>
                <td class="auto-style40"></td>
            </tr>
        </table>
   
    </form>
</body>
</html>
