﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="aracsatis.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style5 {
            width: 779px;
            height: 102px;
        }
        .auto-style14 {
            width: 779px;
            height: 135px;
        }
        .auto-style18 {
            width: 1001px;
            height: 141px;
        }
        .auto-style20 {
            width: 779px;
            height: 474px;
            text-align: center;
        }
        .auto-style22 {
            width: 102%;
        }
        .auto-style23 {
            text-align: center;
        }
        .auto-style25 {
            text-align: center;
            width: 112px;
        }
        .auto-style36 {
            border-width: 0px;
            width: 140px;
            height: 96px;
        }
        .auto-style51 {
            width: 203px;
            height: 600px;
            text-align: center;
        }
        .auto-style53 {
            width: 779px;
            text-align: center;
            height: 28px;
        }
        .auto-style57 {
            width: 1222px;
        }
        .auto-style58 {
            text-align: center;
            width: 34px;
        }
        .auto-style60 {
            width: 200px;
        }
        .auto-style65 {
            text-align: center;
            width: 112px;
            height: 29px;
        }
        .auto-style66 {
            text-align: center;
            height: 29px;
        }
        .auto-style67 {
            text-align: center;
            height: 12px;
        }
        .auto-style68 {
            text-align: center;
            height: 30px;
        }
        .auto-style69 {
            width: 200px;
            height: 223px;
        }
        .auto-style71 {
            width: 140px;
            height: 98px;
        }
        .auto-style72 {
            width: 779px;
            height: 20px;
        }
        .auto-style73 {
            width: 783px;
        }
        .auto-style74 {
            width: 666px;
        }
        .auto-style75 {
            height: 81px;
            width: 689px;
        }
        .auto-style76 {
            width: 666px;
            height: 81px;
        }
        .auto-style77 {
            width: 783px;
            height: 81px;
        }
        .auto-style78 {
        }
        .auto-style79 {
            height: 137px;
            width: 689px;
        }
        .auto-style80 {
            width: 666px;
            height: 137px;
        }
        .auto-style81 {
            width: 783px;
            height: 137px;
        }
        .auto-style82 {
            height: 189px;
            width: 689px;
        }
        .auto-style83 {
            width: 666px;
            height: 189px;
        }
        .auto-style84 {
            width: 783px;
            height: 189px;
        }
        .auto-style85 {
            width: 258px;
            height: 27px;
        }
        .auto-style86 {
            width: 258px;
            height: 140px;
        }
        .auto-style87 {
            border-width: 0px;
            width: 248px;
            height: 141px;
        }
        .auto-style89 {
            width: 369px;
            height: 112px;
        }
        .auto-style90 {
            width: 240px;
            height: 141px;
        }
        .auto-style91 {
            width: 179px;
        }
        .auto-style92 {
            width: 179px;
            height: 30px;
        }
        .auto-style93 {
            width: 268px;
            height: 147px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        
    
        <table class="auto-style57">
            <tr>
                <td class="auto-style14" colspan="7">
                    <img alt="banner" class="auto-style18" src="banner.jpg" /></td>
                <td class="auto-style69" rowspan="2">
                    <table border="1" class="auto-style22" style="border-width: 3px; border-spacing: 3px; color: #000000">
                        <tr>
                            <td class="auto-style23" colspan="2" style="color: #FF0000">Üye Girişi</td>
                        </tr>
                        <tr>
                            <td class="auto-style23">Kullanıcı Ad&nbsp; :</td>
                            <td class="auto-style25">
                                <asp:TextBox ID="kad" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style66">Kullanıcı Şifre :</td>
                            <td class="auto-style65">
                                <asp:TextBox ID="ksifre" runat="server" TextMode="Password"></asp:TextBox>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style67" colspan="2">
                                Giren Kişi Sayısı (<asp:Label ID="sayac" runat="server"></asp:Label>
                                )<br />
                                <asp:Button ID="ktmm" runat="server" OnClick="ktmm_Click" Text="Tamam" Width="63px" />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style68" colspan="2" style="color: #FF0000">Yeni Üye Olmak İçin&nbsp;
                                <asp:Button ID="uyeol" runat="server" OnClick="uyeol_Click" Text="Tıkla" Height="19px" Width="41px" />
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style23" colspan="2">
                    <table class="auto-style22">
                        <tr>
                            <td class="auto-style58">
                                <asp:Label ID="lblara" runat="server" Text="Ara"></asp:Label>
                            </td>
                            <td class="auto-style23">
                                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                            </td>
                        </tr>
                    </table>
                            </td>
                        </tr>
                    </table>
                </td>
                
            </tr>
            <tr>
                <td class="auto-style72" colspan="7">
                    
                </td>
            </tr>
            <tr>
                <td class="auto-style71">
                                <a href="opel.aspx">
                                <img alt="" class="auto-style36" src="Resim/opel_logo.jpg" /></a></td>
                <td class="auto-style71">
                                <a href="Audi.aspx">
                                <img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a></td>
                <td class="auto-style71">
                                <a href="Ford.aspx">
                                <img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a></td>
                <td class="auto-style71">
                                <a href="Volswagen.aspx">
                                <img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a></td>
                <td class="auto-style71">
                                <a href="Tofas.aspx">
                                <img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a></td>
                <td class="auto-style71">
                                <a href="Bmw.aspx">
                                <img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a></td>
                <td class="auto-style71">
                                <a href="mercedes.aspx">
                                <img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
                <td class="auto-style60" colspan="2" rowspan="4">
                    <img alt="" class="auto-style51" src="Resim/reklam.jpg" /> </td>
            </tr>
            <tr>
                <td class="auto-style53" colspan="7">
                    <asp:Button ID="Button1" runat="server" Text="ANA SAYFA" Width="110px" />
                    <asp:Button ID="Button2" runat="server" Text="GALERİ" Width="110px" />
                    <asp:Button ID="Button3" runat="server" Text="İLETİŞİM" Width="110px" />
                    <asp:Button ID="Button4" runat="server" Text="HAKKIMIZDA" Width="110px" />
                </td>
            </tr>
            <tr>
                <td class="auto-style20" colspan="7">
                    <table style="height: 419px; width: 1004px; margin-top: 0px">
                        <tr>
                            <td class="auto-style82">
                                <table border="1" style="border-width: 2px; height: 185px; color: #000000; border-spacing: 2px;">
                                    <tr>
                                        <td class="auto-style86">
                                            
                                            <a href="ilan1.aspx">
                                            
                                            <img alt="" class="auto-style87" src="Resim/tofas1.jpg" /></a></td>
                                    </tr>
                                    <tr>
                                        <td class="auto-style85">Sahibinden Satılık ...</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="auto-style83">
                                <table align="center" border="1" style="border-width: 2px; height: 185px; color: #000000; border-spacing: 2px;">
                                    <tr>
                                        <td class="auto-style86">
                                            <img alt="" class="auto-style87" src="Resim/opel1.jpg" /></td>
                                    </tr>
                                    <tr>
                                        <td class="auto-style85">Sahibinden Satılık...</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="auto-style84">
                                <table align="center" border="1" style="border-width: 2px; height: 185px; color: #000000; border-spacing: 2px;">
                                    <tr>
                                        <td class="auto-style86">
                                            <img alt="" class="auto-style87" src="Resim/1.jpg" /></td>
                                    </tr>
                                    <tr>
                                        <td class="auto-style92">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Satılık</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="auto-style75"></td>
                            <td class="auto-style76"></td>
                            <td class="auto-style77"></td>
                        </tr>
                        <tr>
                            <td class="auto-style79"></td>
                            <td class="auto-style80"></td>
                            <td class="auto-style81"></td>
                        </tr>
                        <tr>
                            <td class="auto-style78" colspan="3">
                                <marquee><img alt="" class="auto-style36" src="Resim/opel_logo.jpg"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <marquee> <img alt="" class="auto-style36" src="Resim/audi-logo.jpg"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <marquee > <img alt="" class="auto-style36" src="Resim/ford-logo.jpg"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <marquee> <img alt="" class="auto-style36" src="Resim/volkswagen-logo (1).jpg"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <marquee> <img alt="" class="auto-style36" src="Resim/tofas-logo.jpg"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <marquee> <img alt="" class="auto-style36" src="Resim/bmw.jpg"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <marquee> <img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </marquee></marquee></td>
                        </tr>
                        <tr>
                            <td class="auto-style78">&nbsp;</td>
                            <td class="auto-style74">&nbsp;</td>
                            <td class="auto-style73">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="auto-style5" colspan="7">
                    &nbsp;</td>
            </tr>
        </table>
    
    </form>
</body>
</html>
