﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Ford.aspx.cs" Inherits="aracsatis.Ford" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style72 {
            height: 54px;
            text-align: right;
        }
        .auto-style36 {
            border-width: 0px;
            width: 140px;
            height: 96px;
            text-align: center;
        }
        .auto-style75 {
            height: 21px;
        }
        .auto-style81 {
            width: 257px;
            height: 181px;
        }
        .auto-style89 {
            width: 257px;
            height: 183px;
        }
        .auto-style90 {
            width: 257px;
        }
        .auto-style91 {
            width: 257px;
            height: 421px;
        }
        .auto-style93 {
            width: 1046px;
            height: 576px;
        }
    </style>
</head>
<body < style="background-color:gray;">
    <form id="form1" runat="server">
   
        <table class="auto-style93">
            <tr>
                <td class="auto-style72" colspan="4">
                                <a href="opel.aspx">
                                <img alt="" class="auto-style36" src="Resim/opel_logo.jpg" /></a><a href="Audi.aspx"><img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a><a href="Ford.aspx"><img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a><a href="Volswagen.aspx"><img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a><a href="Tofas.aspx"><img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a><a href="Bmw.aspx"><img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a><a href="mercedes.aspx"><img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
            </tr>
            <tr>
                <td class="auto-style89">
                    <img alt="" class="auto-style81" src="Resim/ford.jpg" /></td>
                <td class="auto-style89">
                    <img alt="" class="auto-style81" src="Resim/ford%201.jpg" /></td>
                <td class="auto-style89">
                    <img alt="" class="auto-style81" src="Resim/ford%202.jpg" /></td>
                <td class="auto-style89">
                    <img alt="" class="auto-style81" src="Resim/ford%203.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style90">
                    <img alt="" class="auto-style81" src="Resim/ford%204.jpg" /></td>
                <td class="auto-style90">
                    <img alt="" class="auto-style81" src="Resim/ford%205.jpg" /></td>
                <td class="auto-style90">
                    <img alt="" class="auto-style81" src="Resim/ford%207.jpg" /></td>
                <td class="auto-style90">
                    <img alt="" class="auto-style81" src="Resim/ford%208.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style91"></td>
                <td class="auto-style91"></td>
                <td class="auto-style91"></td>
                <td class="auto-style91"></td>
            </tr>
            <tr>
                <td class="auto-style75" colspan="4"></td>
            </tr>
        </table>
   
    </form>
</body>
</html>
