﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ilan1.aspx.cs" Inherits="aracsatis.ilan1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 592px;
        }
        .auto-style2 {
            width: 943px;
            text-align: center;
        }
        .auto-style3 {
            text-align: center;
        }
        .auto-style87 {
            border-width: 0px;
width: 346px;
            height: 227px;
        }
        .auto-style88 {
            text-align: left;
            width: 685px;
        }
        .auto-style89 {
            text-align: left;
            width: 685px;
            height: 23px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    
        <table>
            <tr>
                <td class="auto-style3" colspan="3"><a href="ilan1.aspx">
                                            
                                            <img alt="" class="auto-style87" src="Resim/tofas1.jpg" /></a></td>
            </tr>
            <tr>
                <td class="auto-style88">&nbsp;</td>
                <td class="auto-style2">&nbsp;</td>
                <td class="auto-style1" rowspan="16"><span style="color: rgb(255, 51, 0); font-family: 'Arial Black'; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 0); display: inline !important; float: none;">ARAÇ 1995 MODEL HİDİROLİK DİREKSİYONDUR.ARAÇ TA DEĞİŞEN YOKTUR.PARÇA BOYALAR VARDIR.SEKİZ &nbsp;SENEDEN BERİ TEK ELDE KULLANILAN BİR ARAÇTIR.LASTİKLERİ YENİDİR.LPG RUHSATA İŞLİDİR.HER TÜRLÜ ARAÇ İLE TAKAS YAPILIR</span></td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">10.250 TL</td>
                <td class="auto-style2" rowspan="5">İletişim:<br />
                    Ahmet Ceylan<br />
                    Cep : 0544 444 44 44</td>
            </tr>
            <tr>
                <td class="auto-style89" style="color: #0066FF; font-family: 'Arial Black'">İlan Tarihi : 04 / Nisan /2014</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Marka&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Tofaş</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Seri&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Doğan</td>
            </tr>
            <tr>
                <td class="auto-style89" style="color: #0066FF; font-family: 'Arial Black'">Model&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :Slx</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Yıl&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :1995</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Yakıt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :LPG/BENZİN</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Vites&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 5 VİTES</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Km&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : 119.000</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Renk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :Gri</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Kasa Tipi&nbsp; : Sedan</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Çekiş&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Arakadan İtiş</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Garanti&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Yok</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Kimden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Sahibinden</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Takas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Olur</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88" style="color: #0066FF; font-family: 'Arial Black'">Durumu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : İkinci El</td>
                <td class="auto-style2">&nbsp;</td>
                <td class="auto-style1">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88">&nbsp;</td>
                <td class="auto-style2">&nbsp;</td>
                <td class="auto-style1">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style88">&nbsp;</td>
                <td class="auto-style2">&nbsp;</td>
                <td class="auto-style1">&nbsp;</td>
            </tr>
        </table>
    
    </form>
</body>
</html>
