﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="mercedes.aspx.cs" Inherits="aracsatis.mercedes" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 97%;
            height: 328px;
        }
        .auto-style36 {
            border-width: 0px;
            width: 140px;
            height: 96px;
            text-align: center;
        }
        .auto-style37 {
            width: 350px;
        }
        .auto-style38 {
            height: 88px;
        }
        .auto-style39 {
            width: 668px;
        }
        .auto-style40 {
            width: 334px;
        }
        .auto-style44 {
            width: 334px;
            height: 137px;
        }
        .auto-style45 {
            width: 668px;
            height: 137px;
        }
        .auto-style46 {
            width: 350px;
            height: 137px;
        }
        .auto-style53 {
            width: 334px;
            height: 294px;
        }
        .auto-style54 {
            width: 668px;
            height: 294px;
        }
        .auto-style55 {
            width: 350px;
            height: 294px;
        }
        .auto-style56 {
            width: 334px;
            height: 33px;
        }
        .auto-style57 {
            width: 668px;
            height: 33px;
            text-align: center;
        }
        .auto-style58 {
            width: 350px;
            height: 33px;
        }
    </style>
</head>
<body style="background-color:gray;">
    <form id="form1" runat="server">
  
        <table class="auto-style1">
            <tr>
                <td class="auto-style38" colspan="3" style="text-align: center">
                                <a href="Audi.aspx">
                                <img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a><a href="Ford.aspx"><img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a><a href="Volswagen.aspx"><img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a><a href="Tofas.aspx"><img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a><a href="Bmw.aspx"><img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a><a href="mercedes.aspx"><img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
            </tr>
            <tr>
                <td class="auto-style40">&nbsp;</td>
                <td class="auto-style39">&nbsp;</td>
                <td class="auto-style37">&nbsp;</td>
            </tr>
            <tr>
                <td class="auto-style44"></td>
                <td class="auto-style45"></td>
                <td class="auto-style46"></td>
            </tr>
            <tr>
                <td class="auto-style53"></td>
                <td class="auto-style54"></td>
                <td class="auto-style55"></td>
            </tr>
            <tr>
                <td class="auto-style56"></td>
                <td class="auto-style57">
                    <asp:Button ID="Button1" runat="server" Text="ANA SAYFA" Width="110px" />
                    <asp:Button ID="Button2" runat="server" Text="GALERİ" Width="110px" />
                    <asp:Button ID="Button3" runat="server" Text="İLETİŞİM" Width="110px" />
                    <asp:Button ID="Button4" runat="server" Text="HAKKIMIZDA" Width="110px" />
                </td>
                <td class="auto-style58"></td>
            </tr>
        </table>
  
    </form>
</body>
</html>
