﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="opel.aspx.cs" Inherits="aracsatis.opel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style36 {
            border-width: 0px;
            width: 140px;
            height: 96px;
            text-align: center;
        }
        .auto-style37 {
            text-align: right;
            height: 100px;
        }
        .auto-style38 {
            width: 179px;
            height: 183px;
        }
        .auto-style39 {
        }
        .auto-style41 {
            width: 179px;
            height: 168px;
        }
        .auto-style46 {
            width: 257px;
            height: 181px;
        }
        .auto-style47 {
            width: 257px;
            height: 168px;
        }
        .auto-style49 {
            width: 1046px;
            height: 626px;
        }
        .auto-style50 {
            width: 779px;
            text-align: center;
            height: 183px;
        }
    </style>
</head>
<body  < style="background-color:gray;">
    <form id="form1" runat="server" >
       

        
        
        <table style="margin-bottom: 0px;" class="auto-style49">
            <tr>
                <td colspan="4" class="auto-style37">
                                <a href="opel.aspx">
                                <img alt="" class="auto-style36" src="Resim/opel_logo.jpg" /></a><a href="Audi.aspx"><img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a><a href="Ford.aspx"><img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a><a href="Volswagen.aspx"><img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a><a href="Tofas.aspx"><img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a><a href="Bmw.aspx"><img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a><a href="mercedes.aspx"><img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
            </tr>
            <tr>
                <td class="auto-style41">
                    <img alt="" class="auto-style46" src="Resim/opelconfort.jpg" /><br />
                </td>
                <td class="auto-style47">
                    <img alt="" class="auto-style46" src="Resim/opel%20vectr.jpg" /></td>
                <td class="auto-style47">
                    <img alt="" class="auto-style46" src="Resim/opel%20vectra%201.jpg" /></td>
                <td class="auto-style47">
                    <img alt="" class="auto-style46" src="Resim/vectra2.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style38">
                    <img class="auto-style46
                        " src="Resim/vectra3.jpg" /></td>
                <td class="auto-style50">
                    <img alt="" class="auto-style46" src="Resim/astra1.jpg" /></td>
                <td class="auto-style50">
                    <img alt="" class="auto-style46" src="Resim/astra3.jpg" /></td>
                <td class="auto-style50">
                    <img alt="" class="auto-style46" src="Resim/astra4.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style39" colspan="4">&nbsp;</td>
            </tr>
            </table>
    </form>
</body>
</html>
