﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Tofas.aspx.cs" Inherits="aracsatis.Tofas" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style4 {
        }
        .auto-style5 {
            width: 1095px;
            height: 156px;
        }
        .auto-style6 {
            width: 1014px;
            height: 156px;
        }
        .auto-style36 {
            border-width: 0px;
            width: 140px;
            height: 96px;
            text-align: center;
        }
        .auto-style46 {
            height: 58px;
            width: 830px;
        }
        .auto-style47 {
            width: 1095px;
            height: 58px;
        }
        .auto-style48 {
            width: 1014px;
            height: 58px;
        }
        .auto-style49 {
            height: 84px;
            }
        .auto-style52 {
            height: 47px;
        }
        .auto-style53 {
            width: 830px;
        }
        .auto-style54 {
            width: 1095px;
        }
        .auto-style55 {
            width: 1014px;
        }
    </style>
</head>
<body < style="background-color:gray;">
    <form id="form1" runat="server">
  
        <table style="width: 1340px; height: 660px">
            <tr>
                <td class="auto-style52" colspan="3" style="text-align: center">
                                <a href="opel.aspx">
                                <img alt="" class="auto-style36" src="Resim/opel_logo.jpg" /></a><a href="Audi.aspx"><img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a><a href="Ford.aspx"><img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a><a href="Volswagen.aspx"><img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a><a href="Tofas.aspx"><img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a><a href="Bmw.aspx"><img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a><a href="mercedes.aspx"><img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
            </tr>
            <tr>
                <td class="auto-style53"></td>
                <td class="auto-style54"></td>
                <td class="auto-style55"></td>
            </tr>
            <tr>
                <td class="auto-style4" colspan="3"></td>
            </tr>
            </table>
  
    </form>
</body>
</html>
