﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Volswagen.aspx.cs" Inherits="aracsatis.Volswagen" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style36 {
            border-width: 0px;
            width: 147px;
            height: 96px;
        }
        .auto-style37 {
            height: 100px;
            text-align: center;
        }
        .auto-style38 {
            width: 257px;
            height: 401px;
        }
        .auto-style41 {
            width: 257px;
            height: 181px;
        }
        .auto-style42 {
            width: 257px;
        }
        .auto-style45 {
            width: 518px;
            text-align: center;
        }
        .auto-style49 {
            width: 257px;
            text-align: center;
        }
        .auto-style52 {
            width: 1046px;
            height: 586px;
        }
        </style>
</head>
<body < style="background-color:gray;">
    <form id="form1" runat="server">
   
        <table class="auto-style52">
            <tr>
                <td class="auto-style37" colspan="4">
                                <a href="opel.aspx">
                                <img alt="" class="auto-style36" src="Resim/opel_logo.jpg" /></a><a href="Audi.aspx"><img alt="" class="auto-style36" src="Resim/audi-logo.jpg" /></a><a href="Ford.aspx"><img alt="" class="auto-style36" src="Resim/ford-logo.jpg" /></a><a href="Volswagen.aspx"><img alt="" class="auto-style36" src="Resim/volkswagen-logo%20(1).jpg" /></a><a href="Tofas.aspx"><img alt="" class="auto-style36" src="Resim/tofas-logo.jpg" /></a><a href="Bmw.aspx"><img alt="" class="auto-style36" src="Resim/bmw.jpg" /></a><a href="mercedes.aspx"><img alt="" class="auto-style36" src="Resim/mercedes-benz-logo.jpg" /></a></td>
            </tr>
            <tr>
                <td class="auto-style42">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/1.jpg" /></td>
                <td class="auto-style49">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/2.jpg" /></td>
                <td class="auto-style49">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/3.jpg" /></td>
                <td class="auto-style42">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/4.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style42">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/5.jpg" /></td>
                <td class="auto-style49">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/6.jpg" /></td>
                <td class="auto-style49">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/7.jpg" /></td>
                <td class="auto-style42">
                    <img alt="" class="auto-style41" src="Resim/Volswagen/8.jpg" /></td>
            </tr>
            <tr>
                <td class="auto-style38"></td>
                <td class="auto-style38"></td>
                <td class="auto-style38"></td>
                <td class="auto-style38"></td>
            </tr>
            <tr>
                <td class="auto-style42">&nbsp;</td>
                <td class="auto-style45" colspan="2">
                    &nbsp;</td>
                <td class="auto-style42">&nbsp;</td>
            </tr>
        </table>
   
    </form>
</body>
</html>
